{% extends "base.html" %}
{% load static %}
{% load ordentag %}
{% block head_content %}

{% load thumbnail %}


{% endblock %}

{% block container %}
<p>
  <hr width=90%>
  <p>
<div class="container" id="product2">
    <!--delete-->

  <div class="row">
    <div class="cart-logo col-xs-3 col-sm-3 col-md-3 hidden-xs">
      Producto
    </div>

    <div class="col order-1">
      Unidades
    </div>

    <div class="col order-1">
    Precio
    </div>

    <div class="col order-1">
      Subtotal
    </div>
    <div class="col order-1">
      Acciones
    </div>

  </div>
  <p>
  <hr width=100%>
  <p>
</div>

{% for produ in productCart %}



<div id="productsp">

<div class="container p{{produ.pk}}">
  <div class="row">
    <div class="col order-1">
      <img src="{{ produ.producto.imagen|thumbnail_url:'avatar' }}" class="img-thumbnail icon imgorder">
      <div class="col order-1">
     <center>{{produ.producto.nombre_product}}</center>
    </div>
    </div>
    <div class="col order-1"> 
    <form id='myform' method='POST' name="" action='#'>
    <input type='button' value='-' class='qtyminus' field='quantity' />
    <input type='text' name='quantity' id="idproducto" value='{{produ.cantidad}}' class='qty' />
    <input type='button' value='+' class='qtyplus' field='quantity' />



    
<input  type="hidden" id="cantidad" name="cantidad" value="{{produ.cantidad}}">
<input  type="hidden" id="idproducto" name="idproducto" value="{{produ.pk}}">


<button type="button" class="btn btn-info  btn-default keditor-buttons deletecar col-md-12 col-xs-12" style="margin-bottom: 30px;width: 156px;float: right; margin-top: 22px;" id="actualizar">Actualizar</button>
<span class="texto-no"id="nostock"></span> 

</form>

    </div>
    <div class="col order-1">
      <center>{{produ.producto.price}}</center>
    </div>
    <div class="col order-1 "id="psubtotal">
      <center>{% compute_subtotal produ.producto.price produ.cantidad %} </center>
    </div>
     <div class="col order-1">
      <button  id="delete_enviar" value="{{produ.pk}}" class="btn btn-info" role="button">Eliminar</button>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="cart-logo col-xs-3 col-sm-3 col-md-3 hidden-xs">
    </div>
    <div class="col order-1">

    </div>
    <div class="col order-1">
    </div>
    <div class="col order-1">
      
    </div>

  </div>
  <p>
  <hr width=100%>
  <p>

</div>


{% endfor %}            
</div>  
<br>

<center><h2>DETALLES DE COMPRA</h2></center>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Subtotal</th>
                  <th>Impuesto</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>


                <tr>
                  <td class="subtotal">{{totalproooductos}}</td>
                  <td class="pimpuesto">{{impuesto}}</td>
                  <td class="ptotal">{{totaal}}</td>
                </tr>
         
              </tbody>
            </table>
          </div>    

<br>
<!--Formulario pago tarjeta-->
<!--formulario 2 detallproduct-->
<center><h2>Pago</h2></center>
<br>
<div class="container">

<form action="/Pago"  method="POST" id="card-form">
<div class="row">
<div class="col-md-6">
{% csrf_token %}
<tr><th><label for="direccion">Dirección:</label></th><td><textarea name="direccion" cols="10" rows="5" placeholder="Dirección" class="form-control" maxlength="50" required id="direccion">
</textarea></td></tr>

<tr><th><label for="estado">Estado:</label></th><td><select name="estado" class="form-control" id="estado">
 <option value="1">Aguascalientes</option>
        <option value="2">bajacalifornia</option>
        <option value="3">bajacaliforniasur</option>
        <option value="4">campeche</option>
        <option value="5">coahuila</option>
        <option value="6">colima</option>
        <option value="7">chiapas</option>
        <option value="8">chihuahua</option>
        <option value="9">distritofederal</option>
        <option value="10">durango</option>
        <option value="11">guanajuato</option>
        <option value="12">guerrero</option>
        <option value="13">hidalgo</option>
        <option value="14">jalisco</option>
        <option value="15">mexico</option>
        <option value="16">michoacan</option>

</select></td></tr>
<tr><th><label for="codigopostal">Codigo Postal:</label></th><td><input type="int" name="codigopostal" placeholder="Codigo Postal" class="form-control" required id="codigopostal"></td></tr>            
</div>
<div class="col-md-6">
    <tr><th><label>Nombre de tarjetahabiente:</label></th><td><input type="text" size="20" class="form-control" data-conekta="card[name]"></td></tr>

 <tr><th><label>Numero de tarjetahabiente:</label></th><td><input type="int" size="20" class="form-control" data-conekta="card[number]"></td></tr>

 <tr><th><label>CVC:</label></th><td><input type="int" size="20" class="form-control" data-conekta="card[cvc]"></td></tr>


 <tr><th><label>Fecha de expiración (MM/AAAA):</label></th><td>
  <div class="row">
  <div class="col-6 col-md-6">
  <input type="int" size="6" class="form-control" data-conekta="card[exp_month]" >
 </div>

<div class="col-6 col-md-6">
 <input type="text"  size="6" class="form-control" data-conekta="card[exp_year]"></td></tr>
</div>
</div>


<button type="submit" class="btn pagar-tarjbtn btn-primary btn-block mt-5">Pagar</button>

</div>
</form>
</div>
</div>
</div>








<script type="text/javascript">
//clase padre                 //accion
$('#productsp').on('click', "#delete_enviar", function()  {
console.log('entro delete');
        var data_form = {
            idproducto: $(this).val(),
        }
        //se mando a llamar con javascript 
        $.ajax({
            url: '/delete/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data_form),
            success: function (data) {
            //agregar li si no existe o actualizar li si existe
            var idproductoli = "#productsp .p"+data.idproducto;


    if($(idproductoli).length)
        { //funcion borrar 
             $(idproductoli).remove();
             
           
        }
 
}
                                            });


    return false;
            
        });

</script>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>


    <script type="text/javascript">
    jQuery(document).ready(function(){
    // This button will increment the value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');


        // Get its current value
        var currentVal = parseInt( $(this).closest("#myform").find('input[name='+fieldName+']').val());

        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $(this).closest("#myform").find("input[name=quantity]").val(currentVal + 1);
            $(this).closest("#myform").find("input[name=cantidad]").val(currentVal + 1);
            



        } else {
            // Otherwise put a 0 there

            $(this).closest("#myform").find("input[name=quantity]").val(0);
            $(this).closest("#myform").find("input[name=cantidad]").val(0);
            

        }
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
         var currentVal = parseInt( $(this).closest("#myform").find('input[name='+fieldName+']').val());

        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $(this).closest("#myform").find("input[name=quantity]").val(currentVal - 1);
            $(this).closest("#myform").find("input[name=cantidad]").val(currentVal - 1);
            
        } else {
            // Otherwise put a 0 there
            $(this).closest("#myform").find("input[name=quantity]").val(0);
            $(this).closest("#myform").find("input[name=cantidad]").val(0);
            
        }
    });
});

    </script>




<script type="text/javascript" >
  Conekta.setPublicKey('key_NJkrMpfbf39Csi6k6iux6zg'); //llave publica 

  var conektaSuccessResponseHandler = function(token) {
    var $form = $("#card-form");
    //Inserta el token_id en la forma para que se envíe al servidor
    //agregar a append token
     $form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
    $form.get(0).submit(); //Hace submit
  };
  var conektaErrorResponseHandler = function(response) {
    var $form = $("#card-form");
    $form.find(".card-errors").text(response.message_to_purchaser);
    $form.find("button").prop("disabled", false);
  };

  //jQuery para que genere el token después de dar click en submit
  $(function () {
    $("#card-form").submit(function(event) {
      var $form = $(this);
      // Previene hacer submit más de una vez
      $form.find("button").prop("disabled", true);
      Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
      return false;
    });
  });
</script>


<!--boton actualizar de addorden-->
<!--psubtotal cambia el contenido de todos los elementos-->
<script>

$('#productsp').on('click', "#actualizar", function()  {

  console.log('update');
  var idproducto_form = $(this).closest("#myform").find("input[name='idproducto']").val();
  var cantidad_form = $(this).closest("#myform").find("input[name='quantity']").val();


console.log(idproducto_form)
console.log('cantidad');
console.log(cantidad_form)


        var data_form = {
            cantidad: cantidad_form,
            idproducto: idproducto_form,
        }

        $('#target').html('sending..');
        //se mando a llamar con javascript 
        $.ajax({
            url: '/ajaxupdate/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data_form),
            success: function (data) {


            console.log(data);
            var precio = data.precio
            var can = data.cantidad
            //subtotal = precio * cantidad
            var subtotal = parseInt(precio) * parseInt(can);
            console.log(subtotal)


    if (data.status == 'success'){



$('#nostock').html('');



            $(".p"+data.idproducto+" #psubtotal").html(subtotal);
            $(".subtotal").html(data.totalproooductos);
            $(".pimpuesto").html(data.impuesto);
            $(".ptotal").html(data.totaal);


}



  else if (data.status == 'nostock'){         //concatenar un error abajo del campo de agregar carrito
         $('#nostock').html('No hay suficiente stock'); }




}

                                            });
    return false;
            
        });


</script>


</script>

{% endblock %}
