{% load ordentag %}
{% load static %}


<h2>Resumen Orden</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre Producto</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>

{% for produ in productos %}

                
                <tr>
                  <td>{{produ.producto.nombre_product}}</td>
                  <td>{{produ.producto.price}}</td>
                  <td>{{produ.cantidad}}</td>
                  <td>{% compute_subtotal produ.producto.price produ.cantidad %}</td>
                  
                </tr>
{% endfor %}
         
              </tbody>
            </table>
          </div>
          
 
 <h2>Resumen de Compra</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Impuesto </th>
                  <th>Subtotal</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>

                
                <tr>
                  <td>{{impuesto}}</td>
                  <td>{{totalproductos}}</td>
                  <td>{{totaal}}</td>
                </tr>
                 
         
              </tbody>
            </table>
          </div>




