{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}



          <h2>LISTA DE ORDENES</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Carrito</th>
                  <th>Impuesto </th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>

{% for order in ordenes %}                
                <tr>
                  <td>{{order.usuario.username}}</td>
                  <td>{{order.carrito}}</td>
                  <td>{{order.impuesto}}</td>
                  <td>{{order.subtotal}}</td>
                </tr>
                 
{% endfor %}         
              </tbody>
            </table>
          </div>
          




{% endblock %}