{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}



          <h2>LISTA DE PAGOS</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Orden</th>
                  <th>Tipo de Pago </th>
                  <th>Monto</th>
                  <th>Estatus</th>
                </tr>
              </thead>
              <tbody>

{% for pago in pagos %}                
                <tr>
                  <td>{{pago.usuario.username}}</td>
                  <td>{{pago.orden}}</td>
                  <td>{{pago.tipo_pago}}</td>
                  <td>{{pago.monto}}</td>
                  <td>{{pago.estatus}}</td>
                </tr>
                 
{% endfor %}         
              </tbody>
            </table>
          </div>
          




{% endblock %}