{% extends "base.html" %}
{% load static %}
{% load ordentag %}
{% block head_content %}

{% endblock %}

{% block container %}


 {% if pago == 'pagoexitoso' %} 
 <center><h2>Pago Exitoso</h2></center>

 
 <h2>Resumen de Compra</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre Producto</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>

{% for produ in productCart %}

                
                <tr>
                  <td>{{produ.producto.nombre_product}}</td>
                  <td>{{produ.producto.price}}</td>
                  <td>{{produ.cantidad}}</td>
                  <td>{% compute_subtotal produ.producto.price produ.cantidad %}</td>
                  
                </tr>
{% endfor %}
         
              </tbody>
            </table>
          </div>

<h2></h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Impuesto </th>
                  <th>Subtotal</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>

                
                <tr>
                  <td>{{impuesto}}</td>
                  <td>{{totalproductos}}</td>
                  <td>{{totaal}}</td>
                </tr>
                 
         
              </tbody>
            </table>
          </div>



 {% else %} 
 
 pagofallido 


 {% endif %} 




{% endblock %}





