
                            <div class="second-navbar visible-sm visible-xs">
                                <div class="container">
                                    <div class="store-details">
                                        <a href="/stores/gravedad-cero">
                                            <img>
                                            <h3 class="name"></h3>
                                        </a>
                                    </div>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><button class="btn btn-default btn-follow"><i class="icon-plus"></i>&nbsp;&nbsp;</a></button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
            </header>
            <div class="main container">
                <div class="item-details">
                    <div class="row">
                        <div class="details">
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <a href="/stores/gravedad-cero" class="btn"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Todos</a>
                                <div id="slider">
                                    <div id="carousel-detail" class="carousel slide" data-ride="carousel" data-interval="6000">
                                        <div class="carousel-inner" role="listbox"></div>
                                        <ol class="carousel-indicators"></ol>
                                    </div>
                                </div>
                                <div class="display_options hidden-sm hidden-xs"></div>
                                <button type="button" class="btn btn-default btn-reaction-like">
                                    <i class="fa fa-heart-o fa-lg"></i>
                                </button>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <section class="title">
                                    <h1 style="margin: 0;"></h1>
                                </section>
                                <section class="price"></section>
                                <section class="row purchase-options">
                                    <dl class="col-md-6 col-sm-6 col-xs-12 optn-1">
                                        <dt>Tamaño</dt>
                                        <dd class="form-group">
                                            <select class="form-control" id="select-op1"></select>
                                        </dd>
                                    </dl>
                                    <dl class="col-md-6 col-sm-6 col-xs-12 optn-2">
                                        <dt>Color</dt>
                                        <dd class="form-group">
                                            <select class="form-control" id="select-op2"></select>
                                        </dd>
                                    </dl>
                                </section>
                                <section class="row">
                                    <dl class="col-md-6 col-sm-6 col-xs-12 quantity-options">
                                        <dt>Cantidad</dt>
                                        <dd class="form-group">
                                            <select class="form-control" id="sel-quantity"></select>
                                        </dd>
                                    </dl>
                                    <dl class="col-md-6 col-sm-6 col-xs-12">
                                        <dt>&nbsp;</dt>
                                        <dd class="form-group">
                                            <button type="button" class="btn btn-default keditor-buttons col-md-12 col-xs-12" style="margin-bottom: 30px" id="buy_button" data-id="538326">Comprar</button>
                                        </dd>
                                    </dl>
                                    <dl class="col-md-12 col-sm-12 col-xs-12 availability">
                                        <dt>Disponibilidad</dt>
                                        <dd class="status"></dd>
                                    </dl>
                                </section>