
<!doctype html>
<html lang="en">
  <head>

{% block head_content %} {% endblock %}

  {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white"></h4>
              <p class="text-muted"></p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Cuentas</h4>
              <ul class="list-unstyled">
             


                  {% if user.is_authenticated %}
                   
                      <li><a href="/admi" class="text-white">Administrador</a></li>
                <li><a href="/cuenta" class="text-white">Mi Cuenta </a></li>
                  <a href="/exit" class="btn btn-success">Cerrar Sesion</a>
                 <li><img class="btn btn-success" src="https://img.icons8.com/dusk/32/000000/add-shopping-cart.png"></li>


                  {% else %} 
                  
                  <li><a href="/login" class="text-white">Iniciar Sesion </a>
                  

                  {% endif %} 

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="topnav">
            <strong>Tienda</strong>
          </a>
          {% if user.is_authenticated %}
         <a class="active" href="/admi">Administrador</a>
          <a href="/cuenta">Mi cuenta</a>
           <a href="/exit">Cerrar Sesion</a>
           <!--carrito icon-->
            <li class="dropdown open">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img href="/carri" class="btn btn-success" src="https://img.icons8.com/dusk/32/000000/add-shopping-cart.png">
<span class="caret"></span></a>
          <ul class="dropdown-menu drop-m dropdown-cart" role="menu">
            
              <li>
                <span class="item-left">
                  <span class="item">
                        <span class="item-info">
                              <ul id="productosc">
                                <br>
                              </ul>
                        </span>
                        </span>
                        </span>
                        <span class="item-info">
                        <center><a href="/addorden" class="btn btn-secondary my-2 btn-secondary-red">Pago</a></center> 
                         </span>
                    </span>
                   
                   <span class="item-right btn-close">
                        <button onclick="cerrar()" class="btn-danger  fa fa-close"></button>
                    </span>
              </li>
          </ul>
        </li>
           </li>
           {% else %} 
           <a href="/login">Iniciar Sesion</a>
          {% endif %} 
</div>
        </div>
      </div>
    </header>


   <main role="main">

      

          {% block container %} {% endblock%}


</div>
<script>
function cerrar() {
    window.close();
}






 $( document ).ready( function () {
   $.ajax({
            url: '/ajaxload/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: '1',
            success: function (data) {

console.log(data);

var json = $.parseJSON(data);

            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];

        var precio = data.precio
            var can = data.cantidad
            //subtotal = precio * cantidad
            var subtotal = parseInt(precio) * parseInt(can);

                   //funcion actualizar
             $('#productosc').append(
              '<li class="p'+data.idproducto+'"><div class="row"><div class="col-md-3"><img src="'+data.imagen+'" class="img-thumbnail icon ex1"></div><div class="col-md-9"><p>'+data.nombre+'</p><p>'
                +data.precio+'  x '
                +data.cantidad+' =  '+subtotal+' </p></div><button id="delete_enviar" class="btn boton-delete"   value="'+data.idproducto+'"><i class="fa fa-trash"></i></button></div></div></div></li>');


                    }
        }
});

});
</script>
<style>


.ul {

  list-style-type: none;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #01DFA5;

  }


</style>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %} "></script>

  <link rel="stylesheet" href="{% static 'css/store.css' %}" />


  </body>
</html>







