.img-detail
    {
       
    width: 500px;

    }

.button-pagar
	{
	margin-bottom: 20px;
    width: 300px;
    margin: 0 auto;
    display: block;


	}

.icon
{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 170%;

}

.ex1 
{
  margin-bottom: 40px;
}

#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
    margin-left: 10px;

}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

.deletecar
{
    margin-left: 20px;
    margin-top: -3px;
}



.imgorder
{
max-width: 200px;
}

.pagar-tarjbtn
{
    display: block;
    width: 35%;
}

.drop-m
{
    right: 0;
    width: 290%;
   
}

.dropdown-menu {

     left: -120px;
}


.boton-delete
{
   position: absolute;     
   right: 10px;
   
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    width: 200px;

}


    #productosc .btn
    {
        border-radius: 0;
    }

    .colors
    {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .color
    {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 0;
    }

        .color:first-of-type
        {
            margin-left: 20px;
        }



    .section
    {
        margin-right: 170px;
        border: 1px solid blue;
    }

   ul {
  list-style-type: none;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #01DFA5;
    }

    li {
  float: left;
    }

    li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
    }

    li a:hover {
  background-color: #202A17;
    }


#productosc li {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
}

#productosc .btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
#productosc .btn:hover {
  background-color: RoyalBlue;
}

#productosc .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
   
   
}

.btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
   
}

.box-shadow-wo {
    min-height: 570px;
}

.btn-secondary-red {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}

.botonver
{
    margin: 0 auto;
    display: block;
}

.precio
{
    color: rgb(0, 0, 0);
    font-weight: bold;
     text-align: right;
    font-size: 23px;
}

.preciohome
{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 23px;
  
}

.texto-stock{
padding: 30px;
}

.texto-no{
padding: 30px;
}










