{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}


<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Prueba 1 Tienda</h1>
          <p class="lead text-muted">TicSup.</p>
          <p>
            <a href="/list" class="btn btn-secondary my-2">Lista de Prodcutos</a>
            <a href="/usernew" class="btn btn-secondary my-2">Agregar Usuario</a>
            <a href="/userlist" class="btn btn-secondary my-2">Lista de Usuarios</a>
            <a href="/cartlist" class="btn btn-secondary my-2">Carritos</a>
            <a href="/listorden" class="btn btn-secondary my-2">Lista de Ordenes</a>
            <a href="/listpago" class="btn btn-secondary my-2">Lista de Pagos</a>

            
            
          </p>
        </div>
      </section>



{% endblock %}