{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}



          <h2>DETALLES DE USUARIOS</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>First name</th>
                  <th>Apellido</th>
                  <th>Direccion</th>
                  <th>Sexo</th>
                  <th>Codigo</th>
                  <th>Edad</th>
                  <th>Estado</th>
                  <th>Email</th>
                  <th>Telefono</th>

                </tr>
              </thead>
              <tbody>


                <tr>
                  <td>{{perfil.username}}</td>
                  <td>{{perfil.first_name}}</td>
                  <td>{{perfil.last_name}}</td>
                  <td>{{perfil.direccion}}</td>
                  <td>{{perfil.get_sexo_display}}</td>
                  <td>{{perfil.codigo}}</td>
                  <td>{{perfil.edad}}</td>
                  <td>{{perfil.estado}}</td>
                  <td>{{perfil.email}}</td>
                  <td>{{perfil.telefono}}</td>
                </tr>
                 
         
              </tbody>
            </table>
          </div>
          




{% endblock %}