{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}



          <h2>LISTA DE USUARIOS</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>First name</th>
                  <th>Apellido</th>
                  <th>Direccion</th>
                  <th>Sexo</th>
                  <th>Help</th>

                </tr>
              </thead>
              <tbody>

{% for perfil in perfiles %}
                <tr>
                  <td>{{perfil.username}}</td>
                  <td>{{perfil.first_name}}</td>
                  <td>{{perfil.last_name}}</td>
                  <td>{{perfil.direccion}}</td>
                  <td>{{perfil.get_sexo_display}}</td>
                  <td><a href='{% url "Detalle_user" perfil.pk %}'> Detalle usuario </a></td>
                </tr>
                 
{% endfor %}                
              </tbody>
            </table>
          </div>
          




{% endblock %}