{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>Formulario Ajax</title>
{% endblock %}

{% block container %}


<div class="formulario"><h1><center>Formulario</center></h1> 
    <p><center>Ingresa cantidad: </center><center><input  type="int" name="cantidad" placeholder="Enter cantidad"></center>
    <p><center>Ingresa ID: </center><center><input  type="hidden" name="idusuario" placeholder="Enter ID"></center>
  
    
   <!---boton----> 
<p><a href="#" class="button_enviar">enviar</a></p></center></div>

<span id="exito"></span>
</div>





<footer>


<script type="text/javascript">
        console.log(data_form);
        $('#target').html('sending..');

        $.ajax({
            url: '/ajax/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data_form),
            success: function (data) {
                console.log(data);
                $("#exito").text('los datos se enviaron correctamente');

            }

            
        }



</script>



</footer>
</body>


