{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block head_content %}

{% endblock %}

{% block container %}





<div class="container">
    <div class="row" style="display:  border: solid 1px #808080; padding: 15px">
        <div class="col-md-6">
            {% if product.imagen %}
                <img src="{{ product.imagen|thumbnail_url:'avatar' }}" alt="Card image cap">  
                {% else %}
                <img class="card-img-top" src="" alt="Card image cap">
                {% endif %}  
        </div>
        <!--formulario 2 detallproduct-->
        <div class="col-md-6">
        <!-- <h2 >Orden</h2>
        <p>Datos de carrito:</p>
        
        <ul id="productosc">
        </ul>
         <center><a href="/addorden" type="button"  class="btn btn-primary" style="color:#008080">Pago</a></center> --> 
         <!--datos producto-->
         <h1 style="margin: 0;">{{product.nombre_product}}</h1></section>
  <section class="price">
    <p class="base preciohome">
    <span>{{product.price}} MX</span> <small>- Precio normal</small></p></section>
  <dd class="form-group">
  <br>
  <section class="description"><span style="text-decoration: underline;">Descripción</span>
<span style="text-decoration: underline;">&nbsp;</span>
<span style="text-decoration: underline;">&nbsp;</span>
{{product.description}} &nbsp;

&nbsp;


<p>&nbsp;</p>
<p><span style="color: rgb(0, 0, 0); text-align: center; font-weight: bold;">TIEMPO DE ENTREGA:&nbsp;</span></p><p><span style="color: rgb(0, 0, 0); text-align: center;">Todos nuestros productos son elaborados a mano con mucho amor por lo que tardamos 8 días en la fabricación una vez recibido el pago de tu pedido y la paquetería requiere de 2 a 5 días hábiles para entregarlo en tu domicilio, tiempo aproximado de entrega: 15 días </span></p></section>

  </dd>
  <section class="row">
  {% if user.is_authenticated %}     
<div class="formulario"> 
 <br>Ingresa cantidad: <input  type="int" id="cantidad" name="cantidad" placeholder="Enter cantidad">
<input  type="hidden" id="idusuario" name="idusuario" value="{{usuarioid}}">
<input  type="hidden" id="idproducto" name="idproducto" value="{{product.pk}}">

<button type="button" class="btn btn-default keditor-buttons deletecar col-md-12 col-xs-12" style="margin-bottom: 30px;width: 200px;float: right;" id="button_enviar">Enviar</button>

<span class="texto-stock"id="nostock"></span>  

</div>


</div>


{% else %} 
    
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Iniciar Sesión
</button>




{% endif %} 
  </dd>

  <dl class="col-md-6 col-sm-6 col-xs-12">
  <dt>&nbsp;</dt>
  
  </dl>
 

        </div>
      </div>
</div>

<span id="exito"></span>  


<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#rating1').shieldRating({
            max: 5,
            step: 1,
            value: 3,
            markPreset: false
        });
    });
</script>

<script type="text/javascript">


$('#button_enviar').on('click', function()  {

        var data_form = {
            cantidad: $("#cantidad").val(),
            idusuario: $("#idusuario").val(),
            idproducto: $("#idproducto").val(),
            nombre_product: $("#nombre_product").val(),
            price: $("#price").val(),
            stock: $("#stock").val(),
            

        }

        $('#target').html('sending..');
        //se mando a llamar con javascript 
        $.ajax({
            url: '/ajax/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data_form),
            success: function (data) {


                console.log(data);

            var nombre = data.nombre_product;
            var precio = data.precio
            var can = data.cantidad
            var status = data.stock
            //subtotal = precio * cantidad
            var subtotal = parseInt(precio) * parseInt(can);
            console.log(nombre);
            console.log(subtotal)

            //agregar li si no existe o actualizar li si existe
            var idproductoli = "#productosc .p"+data.idproducto;

            console.log(idproductoli);


    if (data.status == 'success'){



$('#nostock').html('');

    if($(idproductoli).length)
        { //funcion borrar 
             $(idproductoli).remove();

            //funcion actualizar
              $('#productosc').append(
              '<li class="p'+data.idproducto+'"><div class="row"><div class="col-md-3"><img src="'+data.imagen+'" class="img-thumbnail icon ex1"></div><div class="col-md-9"><p>'+data.nombre+'</p><p>'
                +data.precio+'  x '
                +data.cantidad+' =  '+subtotal+' </p></div><button id="delete_enviar" class="btn boton-delete"   value="'+data.idproducto+'"><i class="fa fa-trash"></i></button></div></div></div></li>');
        }


    else { 

            //funcion actualizar
             $('#success').html('');
              $('#productosc').append(
              '<li class="p'+data.idproducto+'"><div class="row"><div class="col-md-3"><img src="'+data.imagen+'" class="img-thumbnail icon ex1"></div><div class="col-md-9"><p>'+data.nombre+'</p><p>'
                +data.precio+'  x '
                +data.cantidad+' =  '+subtotal+' </p></div><button id="delete_enviar" class="btn boton-delete"   value="'+data.idproducto+'"><i class="fa fa-trash"></i></button></div></div></div></li>');


         }




        }

    else if (data.status == 'nostock'){
        //concatenar un error abajo del campo de agregar carrito
         $('#nostock').html('No hay suficiente stock');

        }


      





}

                                            });
    return false;
            
        });

</script>
<!--delete-->
<script type="text/javascript">
//clase padre                 //accion
$('#productosc').on('click', "#delete_enviar", function()  {
console.log('entro delete');
        var data_form = {
            idproducto: $(this).val(),
        }
        //se mando a llamar con javascript 
        $.ajax({
            url: '/delete/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data_form),
            success: function (data) {
            //agregar li si no existe o actualizar li si existe
            var idproductoli = "#productosc .p"+data.idproducto;


    if($(idproductoli).length)
        { //funcion borrar 
             $(idproductoli).remove();
             
           
        }
 
}
                                            });


    return false;
            
        });

</script>
<!-- login -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
  <form method="POST" action="{% url "login" %}">
    {% csrf_token %}
    <!--tag especial-->
         <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username">
         </div>

         <div class="form-group">
          <input class="form-control" type="text" placeholder="Password" name="password">
         </div>


 <div class="form-group">
          <input type="hidden" id="productpk" name="productpk" value="{{product.pk}}">
         </div>


         <button class="btn- btn-primary btn-block mt-5" type="submit">SIGN IN!</button>

  </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#rating1').shieldRating({
            max: 5,
            step: 1,
            value: 3,
            markPreset: false
        });
    });
</script>



<style>
    .btn
    {
        border-radius: 0;
    }

    .colors
    {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .color
    {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 0;
    }

        .color:first-of-type
        {
            margin-left: 20px;
        }

    .black
    {
        background: #000000;
    }

    .gray
    {
        background: #808080;
    }

    .gold
    {
        background: #D3AF37;
    }

    .section
    {
        margin-right: 170px;
        border: 1px solid blue;
    }

   ul {
  list-style-type: none;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #01DFA5;
    }

    li {
  float: left;
    }

    li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
    }

    li a:hover {
  background-color: #202A17;
    }


#productosc li {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


</style>


</style>

{% endblock %}
