
 

{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block head_content %}

{% endblock %}

{% block container %}

<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">




{% for product in products %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow box-shadow-wo ">
                {% if product.imagen %}
                <img class="card-img-top" src="{{ product.imagen|thumbnail_url:'avatar' }}" alt="Card image cap">
                {% else %}
                <img class="card-img-top" src="" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                  <p class="card-text"><h2>{{product.nombre_product}}</h2>



               <div class="row">
                <div class="col-md-6">
               SKU:{{product.sku}} </div>
                <div class="col-md-6">
               <h2 class="card-text precio" aling="rigth">{{product.price}} MX</h2></p>
             </div>
           </div>
                  <div class="d-flex justify-content-between align-items-center">
                    
                    <div class="btn-group botonver">
                    
                      <center><a  href='{% url "Detalle_product" product.pk %}' class="btn btn-secondary my-2 btn-secondary-red">Ver Producto</a>
                    </div>
                  
                    
                  </div>
                </div>
              </div>
            </div>

{% endfor %}







          </div>
        </div>
      </div>




{% endblock %}