
{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}




 <h2>LISTA DE PRODCUTOS</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Sku</th>
                  <th>Precio</th>
                  <th>Stock</th>
                </tr>
              </thead>
              <tbody>




{% for product in products %}
                <<tr>
                  <td>{{product.picture.url}}</td>
                  <td>{{product.nombre_product}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.sku}}</td>
                  <td>{{product.price}}</td>
                  <td></td>
                </tr>
               

{% endfor %}







          </div>
        </div>
      </div>






{% endblock %}