
{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}




<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">


<h1>{{ myvariable }}</h1>

{% for cart in Carts1 %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text"><h2>{{cart.pk}}</h2>

               </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    {{cart.usuario.username}}
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>

{% endfor %}







          </div>
        </div>
      </div>






{% endblock %}