{% extends "base.html" %}
<!--<!DOCTYPE html>---->
{% block head_content %}
<title>LOGIN</title>
<!----<html lang="en">---->
<!--<head>-->
 {% endblock %}
{% block container %}
     
     {% if error %}
        
      <p class="alert alert-danger">{{ error }}</p>
     {% endif %}  
  <!--<meta charset="UTF=8">-->



  <form method="POST" action="{% url "login" %}">
    {% csrf_token %}
    <!--tag especial-->
         <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" >
         </div>

         <div class="form-group">
          <input class="form-control" type="text" placeholder="Password" name="password">
         </div>

        

         <button class="btn- btn-primary btn-block mt-5" type="submit">SIGN IN!</button>
          
  


  </form>
 {% endblock %}